In [1]:
print ("HOPE AI")

HOPE AI

In [4]:
Name = input("Enter your institute name:")

Enter your institute name: HOPE AI

In [6]:
Name1 = input("Enter your name:")
Age = int(input("Enter your age:"))
School = input("Enter your school name:")
Degree = input("Enter your degree:")

Enter your name: Selvam
Enter your age: 21
Enter your school name: Hindu matriculation
Enter your degree: Bcom

In [8]:
a = 43
print ("a = ",a)
b = 34
print ("b = ",b)
print ("add =", a+b)

a =  43
b =  34
add = 77

In [9]:
a = 43
print ("a = ",a)
b = 34
print ("b = ",b)
print ("sub =", a-b)

a =  43
b =  34
sub = 9

In [10]:
a = 63
print ("a = ",a)
b = 97
print ("b = ",b)
print ("mul =", a*b)

a =  63
b =  97
mul = 6111

In [11]:
a = 76
print ("a = ",a)
b = 31
print ("b = ",b)
print ("Float div =", a/b)

a =  76
b =  31
Float div = 2.4516129032258065

In [12]:
a = 76
print ("a = ",a)
b = 31
print ("b = ",b)
print ("Floor div =", int(a/b))

a =  76
b =  31
Floor div = 2

In [15]:
a = 76
print ("a = ",a)
b = 31
print ("b = ",b)
print ("Modulo =", a%b)

a =  76
b =  31
Modulo = 14

In [13]:
a = 4
print ("a = ",a)
b = 4
print ("b = ",b)
print ("Power =", a**b)

a =  4
b =  4
Power = 256