In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [33]:
lists = [10,20,14,55,43,87,76]
print ("Number of the item in the list2 :")
print(len(lists))

Number of the item in the list2 :
7

In [34]:
lists = [10,20,14,55,43,87,76]
print ("Number of the item in the list2 :", len(lists))

Number of the item in the list2 : 7

In [20]:
word = "Artificial Intelligence"
for letter in word:
    print (letter)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [15]:
name = input("-Your name- ")
age = int(input("-Your age- "))
Profession = input("-Your profession- ")

-Your name-  Rajesh
-Your age-  30
-Your profession-  Software developer

In [18]:
MyTuple = (1, "Welcome", 2, "HOPE")
print (MyTuple)

(1, 'Welcome', 2, 'HOPE')

In [36]:
tup1 = (1,2,3,4)
tup2 = ("Python", "Hope")
tup3 = (tup1,tup2)
print(tup3)

((1, 2, 3, 4), ('Python', 'Hope'))

In [24]:
MyTuple1 = (1,2,3,4,("Python", "Hope"))
print (MyTuple1)

(1, 2, 3, 4, ('Python', 'Hope'))

In [30]:
lists = [20,10,16,19,25,1,276,188]
for num in lists:
    if (num%2 == 1):
        print (num, "is the Odd number")

19 is the Odd number
25 is the Odd number
1 is the Odd number

In [32]:
lists = [20,10,16,19,25,1,276,188]
for num in lists:
    if (num%2 != 1):
        print (num, "is the Even number")

20 is the Even number
10 is the Even number
16 is the Even number
276 is the Even number
188 is the Even number