In [1]:
# for i in range(5) -- colon missing.
for i in range(5):
    print(i)

0
1
2
3
4

In [37]:
a = 10
#b = "5" -- either this should be numerals or the print parameter should be like print(a,b). Or convert the input with the same type like string/int
b = "5"
print(a , b)

10 5

In [5]:
#def add_numbers(a, b)
def add_numbers(a, b):
    return a + b

In [32]:
add_numbers(4,5)

9

In [31]:
numbers = [1, 2, 3, 4]
#print(numbers[4]) -- since the position starts from 0, 4 here means the fifth place and the list has only four, it should not be more than 3.
print(numbers[3])

4

In [8]:
#print "Hello, World!" - the return should be within the parenthesis.
print ("Hello, World!")

Hello, World!

In [10]:
#x = 5 / 0 division by zero is not allowed
x = 5 / 1

In [13]:
name = "Alice"
age = 25
#print("Name: " + name + ", Age: " + age) - instead of plus sign, comma to be given.
print("Name: " ,name , ", Age: " , age)

Name:  Alice , Age:  25

In [20]:
#for i in range(1, 10, -1): - eitehr the increment should be positive or range should be like 9,1,-1.
for i in range(9, 0, -1): # for decending order
  
#for i in range(1, 10, 1): for ascending order
    print(i)

9
8
7
6
5
4
3
2
1

In [23]:
x = 5 # changed from 10 to 5 to validate with pass result.
#if x = 5: since it is comparative statement, the comparative operator should be "==". However, this will not print anything since the validation fails.
if x == 5:
    print("x is 5")

x is 5

In [28]:
#def greet(name) -- colon missing at the end of function.

def greet(name):
    print("Hello, " , name)

In [30]:
greet("Alice")

Hello,  Alice