In [1]:
import pandas as pd
dataset = pd.read_csv("Placement.csv")

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
sl_no             215 non-null int64
gender            215 non-null object
ssc_p             215 non-null float64
ssc_b             215 non-null object
hsc_p             215 non-null float64
hsc_b             215 non-null object
hsc_s             215 non-null object
degree_p          215 non-null float64
degree_t          215 non-null object
workex            215 non-null object
etest_p           215 non-null float64
specialisation    215 non-null object
mba_p             215 non-null float64
status            215 non-null object
salary            148 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [3]:
datat = dataset['gender'].dtype
print(datat)

object

In [4]:
for columnName in dataset.columns:
    cnt = dataset[columnName].dtype
    print(columnName,cnt)

sl_no int64
gender object
ssc_p float64
ssc_b object
hsc_p float64
hsc_b object
hsc_s object
degree_p float64
degree_t object
workex object
etest_p float64
specialisation object
mba_p float64
status object
salary float64

In [5]:
quan = []
qual = []
for columnName in dataset.columns:
    #print (columnName)
    if (dataset[columnName].dtype == 'O'):
        #print('qual')
        qual.append(columnName)
    else:
        #print('quan')
        quan.append(columnName)

In [6]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [7]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [8]:
def quanQual(dataset):
    quan = []
    qual = []
    for columnName in dataset.columns:
        #print (columnName)
        if (dataset[columnName].dtype == 'O'):
            #print('qual')
            qual.append(columnName)
        else:
            #print('quan')
            quan.append(columnName)
            
    return quan,qual

In [9]:
quanQual(dataset)

(['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'],
 ['gender',
  'ssc_b',
  'hsc_b',
  'hsc_s',
  'degree_t',
  'workex',
  'specialisation',
  'status'])

In [10]:
quan, qual = quanQual(dataset)

In [11]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [12]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Central Tendency

In [13]:
dataset['ssc_p'].mean()

67.30339534883721

In [14]:
dataset['ssc_p'].median()

67.0

In [15]:
dataset['ssc_p'].mode()[0]

62.0

In [16]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [17]:
descriptive = pd.DataFrame(index = ["mean","median","mode"], columns = quan)

In [18]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [19]:
descriptive = pd.DataFrame(index=["mean", "median","mode"], columns = quan)
for columnName in quan:
    descriptive[columnName]["mean"] = dataset[columnName].mean()
    descriptive[columnName]["median"]= dataset[columnName].median()
    descriptive[columnName]["mode"]= dataset[columnName].mode()[0]

In [20]:
descriptive

       sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
mean     108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
median   108       67       65       66       71       62  265000
mode       1       62       63       65       60     56.7  300000

In [21]:
# to bring the measurement in the column and the input in the row:
#descriptive = pd.DataFrame(index= quan, columns = ["mean", "median","mode"])
#for columnName in quan:
#    descriptive["mean"][columnName] = dataset[columnName].mean()
#    descriptive["median"][columnName]= dataset[columnName].median()
#    descriptive["mode"][columnName]= dataset[columnName].mode()[0]

In [22]:
#descriptive