In [1]:
import pandas as pd
dataset = pd.read_csv("Placement.csv")

In [3]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [4]:
dataset.var()

sl_no       3.870000e+03
ssc_p       1.172284e+02
hsc_p       1.187557e+02
degree_p    5.415110e+01
etest_p     1.762510e+02
mba_p       3.402838e+01
salary      8.734295e+09
dtype: float64

In [5]:
dataset.std()

sl_no          62.209324
ssc_p          10.827205
hsc_p          10.897509
degree_p        7.358743
etest_p        13.275956
mba_p           5.833385
salary      93457.452420
dtype: float64