In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [2]:
def my_function():
    
    global x
    x += 5
    print(x)

x = 10
my_function()

15

In [6]:
#3.x = 5
if x == 10:
   print("x is 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [12]:
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [9]:
#5.
def square(n):
    n * n

print(square(4))

None

In [13]:
def square(n):
  return  n * n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [14]:
#tuple is unmutable. You can use list
my_tuple = [1, 2, 3]
my_tuple[1] = 5

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [18]:
name = "Alice"
age = 25
print("My name is", name, "and I am", age, "years old")

My name is Alice and I am 25 years old

In [21]:
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [22]:
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [26]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [ ]:
for i in range(-5, 1):
    print(i)

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [28]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John